# templates/env.template
# --- Main Configuration for On-Premises Deployment ---
# Rename this file to .env and fill in the values before running install.sh

# --- Mautic Core ---
MAUTIC_VERSION=6.0.7-apache
MAUTIC_PORT=8001
DOMAIN_NAME=mautic.example.com
EMAIL_ADDRESS=z@mautibox.ru
MAUTIC_PASSWORD=ChangeMeASAP123

# --- Client User ---
CLIENT_EMAIL=client@example.com
CLIENT_MAUTIC_PASSWORD=ChangeMeClientASAP123

# --- Database Credentials ---
MYSQL_DATABASE=mautibox_db
MYSQL_USER=mautibox_user
MYSQL_PASSWORD=MySqlSecretPassword123
MYSQL_ROOT_PASSWORD=MySqlRootSecretPassword123

# --- Localization ---
MAUTIC_LOCALE=ru
DEFAULT_TIMEZONE=Europe/Moscow


# --- Customization ---
MAUTIC_PLUGINS=""
MAUTIC_THEMES=""
MAUTIC_LANGUAGE_PACK_URL="https://github.com/zaharovrd/language-packs/raw/master/mautibox_ru.zip"
GITHUB_TOKEN=""

# --- Internal Use ---
IP_ADDRESS=